html,body{
    margin:0px;
    padding:0px;
}
.loading-page{
    background: url(../img/loadingpage.jpg);
    width:500px;
    height:300px;
    user-select: none;
}
.loader {
    position: absolute;
    z-index: 1;
    left:46%;
    top:72%;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 5px solid #39db34;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}