/* color variables */
:root {
    --primary-color: #262a35;
    --primary-light-color: #30323f;
    --primary-extralight-color: #454757;
    --secondary-color: #f2f7f7;
    --accent-green: #92dfb4;
    --accent-lightgreen: #cbf0db;
    --accent-darkgreen: #2a964e;
    --accent-gold: gold;
    --accent-dim-gold: #857744;
    --white-color: #FFFFFF;
    --gray-color: #333333;
    --gray-light-color: #f4f4f4;
    --dim-text-color: #AAA;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-rows: 30px auto 30px;
}

/* title bar styles */
.window-tab {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 140px auto 140px;
    cursor: pointer;
}

.window-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 12px;
    color: var(--secondary-color);
    font-size: 14px;
    cursor: default;
}

.window-title img {
    height: 23px;
    width: 25px;
    margin-right: 15px;
}
.bible-v-name{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#DDD;
    font-size: 12px;
}

/* toolbox styles */
.toolbox {
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #EEE;
}

.toolbox img {
    width: 13px;
}

.toolbox span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbox span:hover {
    background-color: #525f77;
}

.toolbox .exit:hover {
    background-color: red;
}
#btn-max{
    opacity: 0.2;
    cursor: default;
}
/* bible selection panel */
.wrap-it{
    display: grid;
    grid-auto-rows: 50px auto;
}
.bible-list{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: var(--primary-light-color);
    border-bottom: 1px solid #444;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: var(--primary-color);
    background-image: none;
  }
  .select {
    position: relative;
    display: flex;
    width: 200px;
    height: 30px;
    line-height: 2;
    background: var(--primary-color);
    overflow: hidden;
    border-radius: .25em;
    margin-left: 10px;
  }
  select {
    flex: 1;
    padding: 0 .5em;
    color: #DDD;
    cursor: pointer;
    margin-left: 5px;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 3px;
    cursor: pointer;
    color: #AAA;
    border-left: solid 2px var(--primary-light-color);;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: var(--white-color);
  }
  .select option{
      width: 10px;
  }

/* content panel */
.window-panel {
    display: grid;
    grid-template-columns: 170px 150px auto;
    height: 100px;
    width: 100%;
}
/* selected book style */
.active-book {
    background-color: #e1ffee;
    border-left: solid 6px var(--accent-darkgreen);
}
/* selected chapter and verse style */
.active-c-v {
    background-color: var(--accent-gold);
    border: solid 0.5px #eee;
}
/* Testament types styles */
.left-panel {
    background-color: var(--white-color);
    display: grid;
    height: 100%;
    grid-template-rows: 40px auto;
    user-select: none;
}

.testament-type {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 12px;
    font-weight: bold;
    color: #EEE;
    letter-spacing: .05em;
}

.old-testament {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    color: #EEE;
    background-color: var(--accent-darkgreen);
}

.new-testament {
    background-color: var(--primary-light-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}
.wrap-book-list{
    display: flex;
    flex-direction: column;
}
.book-list {
    display: flex;
    overflow: auto;
    height: 72vh;
    padding-top: 10px;
    font-size: 14px;
    color: var(--gray-color);
}
.more{ 
    display: flex;
    font-size: 24px;
    line-height: 0em;
    font-weight: bold;
    color: #AAA;
    justify-content: center;
    width: 100%;
}

.book-list ul {
    width: 100%;
}

.book-list::-webkit-scrollbar {
    width: 5px;
}

.book-list::-webkit-scrollbar-track {
    border-radius: 0px;
}

.book-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--accent-green);
}

.book-list ul li {
    padding: 10px 5px 10px 20px;
    border-bottom: solid 1px #EEEE;
}

.book-list ul li:hover {
    background-color: #e1ffee;
    cursor: pointer;
}

.old-books {
    display: block;
}

.new-books {
    display: none;
}
/* chapter and verse style */
.mid-panel {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mid-panel .header {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .08em;
}

.chapter .header {
    background-color: var(--primary-light-color);
    color: var(--secondary-color);
    border-left: solid 1px #444;
}

.verse .header {
    background-color: var(--primary-light-color);
    color: var(--secondary-color);
    border-right: solid 1px #444;
}
.num-more{
    display: flex;
    flex-direction: column;
}
.chapter {
    width: 100%;
    display: grid;
    grid-template-rows: 40px auto;
    text-align: center;
    background-color: #ebebeb;
}

/* #wrap-scroll-item {
    height: 72vh;
} */

.chapter-numbers {
    display: grid;
    align-content: flex-start;
    justify-content: space-evenly;
    font-size: 12px;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
    height: 73.5vh;
}

.chapter-numbers::-webkit-scrollbar {
    width: 3px;
}

.chapter-numbers::-webkit-scrollbar-track {
    border-radius: 0px;
}

.chapter-numbers::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--accent-green);
}

.chapter-numbers span {
    color: var(--primary-color);
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

.chapter-numbers span:hover {
    background-color: var(--accent-lightgreen);
}

.verse {
    width: 100%;
    display: grid;
    grid-template-rows: 40px 80%;
    text-align: center;
    background-color: #f4f4f4;
}

.verse-numbers {
    display: grid;
    align-content: flex-start;
    justify-content: space-evenly;
    font-size: 12px;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
    height: 73.5vh;
}

.verse-numbers::-webkit-scrollbar {
    width: 3px;
}

.verse-numbers::-webkit-scrollbar-track {
    border-radius: 0px;
}

.verse-numbers::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--accent-green);
}

.verse-numbers span {
    color: var(--primary-light-color);
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

.verse-numbers span:hover {
    background-color: var(--accent-lightgreen);
}
/* css for right grid panel */
.right-panel {
    width: 100%;
    background-color: #FFF;
    display: grid;
    grid-template-rows: 40px auto;
}
/* selected book, chapter and verse */
.chap-index{
    display: flex;
    align-items: center;
    background-color: var(--primary-light-color);
}
#b-c-v {
    flex: 6;
    font-size: 16px;
    font-weight: bold;
    color: var(--accent-gold);
    display: flex;
    justify-content: center;
}

.magnify{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}
.magnify span{
    text-align: center;
    width: 14px;
    font-size: 14px;
    padding: 4px;
    margin-right: 5px;
    background-color: var(--primary-light-color);
    border: 1px solid #444;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    color: var(--accent-darkgreen);
}
.magnify span img{
    width:10px;
    opacity: 0.8;
}
/* scripture text styles */
#div-scripture {
    height: 72vh;
}
JQ{
    color:red;
}
sup {
    /* font-size:10px;  */
    vertical-align:super;
}
.intend-txt t {
    margin-left: 10px;
    font-style: italic;
    font-size: 17px;
}
::selection{
    background: var(--accent-lightgreen);
}
.scripture {
    margin: 20px;
    background-color: var(--white-color);
    overflow: auto;
    height: 100%;
    width: auto;
    margin-top: 10px;
    margin-right: 15px;
}

.scripture::-webkit-scrollbar {
    width: 8px;
}

.scripture::-webkit-scrollbar-track {
    border-radius: 0px;
}

.scripture::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--accent-green);
}

.scripture p {
    margin-bottom: 10px;
    line-height: 1.5em;
    /* font-size: 17px; */
}

.vNum {
    font-weight: bold;
    font-size: 14px;
}
/* css for footer */
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    background-color: var(--primary-color);
    color: var(--accent-dim-gold);
    font-size: 10px;
}
/* @media only screen and (max-width: 950px){
    .book-list{
        height:100vh;
    }
    .chapter-numbers{
        height:100vh;
    }
    .verse-numbers{
        height:100vh;
    }
} */